.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.opening-hours {
  margin-bottom: 20px;
}

.opening-hours h2 {
  color: #333;
}

.about-us-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us-content h1 {
  color: #333;
}

.about-us-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}
