.food-display {
  margin-top: 30px;
}

.food-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls button:not(:disabled):hover {
  background-color: #0056b3;
}

.pagination-controls span {
  font-size: 16px;
  color: #333;
}

.food-display select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Style for the label */
.food-display label {
  font-weight: bold;
  margin-right: 0.5rem;
}
.food-display select:hover {
  cursor: pointer;
}
